<ion-header>
  <ion-toolbar>
    <ion-title>{{toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="saveEmployeeForm" (ngSubmit)="saveEmployee()">
    <ion-item>
      <ion-label position="floating">Primer apellido</ion-label>
      <ion-input class="upper-case" required maxLength="20" formControlName="surname" (keypress)="allowAlphabetWithSpace($event)"
        (ionBlur)="buildEmail()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Segundo apellido</ion-label>
      <ion-input class="upper-case" required maxLength="20" formControlName="secondSurname"
        (keypress)="allowAlphabet($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input class="upper-case" required maxLength="20" formControlName="name" (keypress)="allowAlphabet($event)"
        (ionBlur)="buildEmail()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Otros nombres <span class="optional-label">(Opcional)</span></ion-label>
      <ion-input class="upper-case" maxLength="50" formControlName="otherNames" (keypress)="allowAlphabetWithSpace($event)">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">País del empleo</ion-label>
      <ion-select placeholder="Selecciona uno" required formControlName="employmentCountry" (ionChange)="buildEmail()">
        <ion-select-option *ngFor="let country of employmentCountries" [value]="country.id">{{country.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de identificación</ion-label>
      <ion-select placeholder="Selecciona uno" required formControlName="documentType">
        <ion-select-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
          {{documentType.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número de identificación</ion-label>
      <ion-input maxLength="20" formControlName="documentNumber" (keypress)="allowDocumentChars($event)">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input readonly maxLength="300" formControlName="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de ingreso</ion-label>
      <ion-datetime required formControlName="admissionDate" displayFormat="DD/MM/YYYY" [max]="today"
        [min]="lastMonthDay"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!isUpdate">
      <ion-label position="floating">Fecha de registro</ion-label>
      <ion-datetime required formControlName="creationDate" displayFormat="DD/MM/YYYY HH:mm:ss" [value]="creationDate"
        readonly></ion-datetime>
    </ion-item>
    <ion-item *ngIf="isUpdate">
      <ion-label position="floating">Fecha de edición</ion-label>
      <ion-datetime required formControlName="updateDate" displayFormat="DD/MM/YYYY HH:mm:ss" [value]="updateDate"
        readonly></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Área</ion-label>
      <ion-select placeholder="Selecciona uno" required formControlName="area">
        <ion-select-option *ngFor="let area of areas" [value]="area.id">
          {{area.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input readonly formControlName="status">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Guardar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="location.back()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>