<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CidenetTestApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item>
      <ion-label>Aplicar filtros</ion-label>
      <ion-toggle [(ngModel)]="showFilters"></ion-toggle>
    </ion-item>

    <ion-list *ngIf="showFilters">
      <ion-item>
        <ion-label position="floating">Filtro por nombre</ion-label>
        <ion-input class="upper-case" (keypress)="allowAlphabetWithSpace($event)" [(ngModel)]="filterEmployee.name">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por país del empleo</ion-label>
        <ion-select placeholder="Selecciona uno" [(ngModel)]="filterEmployee.employmentCountry"
          (ionChange)="buildEmail()">
          <ion-select-option *ngFor="let country of employmentCountries" [value]="country.id">{{country.description}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por tipo de identificación</ion-label>
        <ion-select placeholder="Selecciona uno" [(ngModel)]="filterEmployee.documentType">
          <ion-select-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
            {{documentType.description}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por número de identificación</ion-label>
        <ion-input maxLength="20" (keypress)="allowDocumentChars($event)" [(ngModel)]="filterEmployee.documentNumber">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por correo electrónico</ion-label>
        <ion-input maxLength="300" [(ngModel)]="filterEmployee.email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por área</ion-label>
        <ion-select placeholder="Selecciona uno" [(ngModel)]="filterEmployee.area">
          <ion-select-option *ngFor="let area of areas" [value]="area.id">
            {{area.description}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Filtro por estado</ion-label>
        <ion-select placeholder="Selecciona uno" [(ngModel)]="filterEmployee.status">
          <ion-select-option value="1">Activo</ion-select-option>
          <ion-select-option value="0">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" (click)="searchEmployees()">Buscar empleados</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="danger" expand="block" (click)="clearFilters()">Limpiar filtros</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list *ngIf="!showFilters">
      <ion-list-header>Empleados Cidenet</ion-list-header>
      <ion-card *ngFor="let employee of employees; let i = index" (click)="showItemMenu(employee, i)">
        <div class="employee-card-header">
          <div>
            <ion-card-subtitle>{{employee.surname + " " + employee.secondSurname}}</ion-card-subtitle>
            <ion-card-title>{{employee.name + " " + employee.otherNames}}</ion-card-title>
          </div>
          <ion-label class="employee-info">{{employee.status==1 ? "Activo" : "Inactivo"}}</ion-label>
        </div>
        <ion-card-content style="padding: 4px 10px 8px 10px;">
          <div class="employee-card-body">
            <ion-label class="employee-info">
              <span style="font-size: 0.8rem;">{{documentTypes[employee.documentType-1].description}}:
              </span>{{employee.documentNumber}}
            </ion-label>
            <ion-label class="employee-info">{{employee.email}}</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreEmployees($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más empleados...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToCreateEmployee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>