.employee-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 0px 10px;
}
.employee-card-body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.employee-info{
  font-size: 0.9rem;
  line-height: 1rem;
}